<div id="editModal" class="modal">
    <div class="modal-content">
        <h4>New Workspace</h4>
        <div class="row">
            <form class="col s12 add_workspace">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        <input name="name" placeholder="Workspace Name" id="workspace_name" type="text" class="validate">
                        <label for="workspace_name">Name</label>
                    </div>
                </div>
                <div class="row">
    
<div class="input-field col s6">
    <select name="editorType">
        {% for editor_type in editorTypes %}
        <option value="{{ editor_type.slug }}">{{ editor_type.name }}</option>
        {% endfor %}
    </select>
    <label>Editor</label>
</div>
  
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a id="add_workspace_button" href="#!" class="modal-action modal-close1 waves-effect waves-green btn-flat">Create</a>
    </div>
</div>