<style type="text/css">
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main {
    flex: 1 0 auto;
  }	
</style>
<footer class="page-footer dark-primary-color">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Falkor</h5>
				<p class="grey-text text-lighten-4">Soar through the cloud.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/FalkorCloud/falkor">Github</a></li>
					<li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/peragro">Peragro</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2016 Falkor Cloud
			<a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/FalkorCloud/falkor/blob/master/LICENSE">License</a>
		</div>
	</div>
</footer>