{% extends "base/base.html" %} 
{% load raw_include %} 

{% block content %}
<script id="workspace_details" type="text/x-handlebars-template">
	{% raw_include "fragments/workspace.html"%}
</script>

<script id="template" type="text/x-handlebars-template">
	{% verbatim %}
	<li data-workspace="{{ workspace_.id }}" href="/workspaces/{{ workspace_.id }}" class="collection-item avatar">
		<i class="material-icons circle {{#if workspace_.running}}green{{else}}red{{/if}}">insert_chart</i>
		<span class="title">{{ workspace_.name }}</span>
		<p>{{ workspace_.state.status }}
			<br>  {{#if workspace_.state.IPAddress}} {{ workspace_.state.IPAddress }} {{else}}-{{/if}}
		</p>
		<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
	</li>
	{% endverbatim %}
</script>


<div style="position: relative; width: 100%; overflow:hidden;">
	<div style="width: 200%;">
		<ul id="workspace-list" class="collection with-header" style="float: left; width: 50%;">
			<li class="collection-header">
				<input type="text" class="form-control live-search-box" placeholder="Search Workspaces...">
			</li>
			<div id="workspaces" class="live-search-list">
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</div>
		</ul>

		<div id="workspace-detail" class="" style="float: left; width: 50%; left: 0;">
			
		</div>
	</div>
</div>
{% endblock %} 

{% block modals %}
{% include "fragments/add_workspace.html" %} 
{% endblock %}