Django==1.9.7
gunicorn==19.3.0
PyJWT==1.4.0
argparse==1.2.1
chardet==2.3.0
colorama==0.2.5
html5lib==0.999
httplib2==0.9.2
oauth2==1.9.0.post1
oauthlib==1.1.2
python-openid==2.2.5
python-social-auth==0.2.19
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
supervisor==3.0b2
urllib3==1.7.1
wheel==0.24.0
wsgiref==0.1.2
meld3==0.6.10
docker-py==1.9.0rc2
psycopg2
channels==0.17.1
asgi_redis==0.14.0
django-guardian==1.4.5